@mixin z-layers($z-index, $background-image, $pb: 40%) {
    width: 100%;
    background-image: url($background-image);
    background-size: cover;
    position: absolute; 
    z-index: $z-index;
    padding-bottom: $pb;
}

@mixin flex-master($direction: row,$justify-content: normal,$align-items: normal){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

$primary-color: #191226;