@use "sass/mixins" as m;

.footer {
    @include m.z-layers(6,"img/backgrounds/Layer6.png");
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 40vh;
}
.logo-container{
    display: flex;
    justify-content: space-around;
    margin-top: 35%;
    &>img{
        width: min(400px,20%);
        
    }
}
