@use "sass/mixins" as m;

.footer {
    @include m.z-layers(6,"img/backgrounds/Layer6.png",45%);
    @include m.flex-master(column,flex-end,initial);
}
.logo-container{
    display: flex;
    justify-content: space-around;
    margin-top: 35%;
    &>img{
        width: min(400px,20%);
        
    }
}
