.nft {
  width: 100%;
  background-size: cover;
  position: absolute;
  background-image: url("img/backgrounds/Layer3.png");
  z-index: 3;
  padding-bottom:60%;
  &-margin{
    margin-top: 40%;
  }

}