@use "../mixins" as m;
.shop {
    &-zone {
        margin-left: 8%;
        display: flex;
    }
    &-text{
        flex-basis: 35%;
    }
    &-img {
        width: min(60vw,850px);
    }
}
.sub {
  &-img {
    width: 400px;
  }
}
.sand{
    &-zone{
      @include m.flex-master(column,flex-start,center);   
    }
}

@media only screen and (max-width: 1200px) {
    .shop-img{
      width: max(65vw,600px);
    }
  }

  @media only screen and (max-width: 900px) {
    .shop-img{
      width: max(62vw,600px);
    }
  }


  @media only screen and (max-width: 850px) {
    .shop-img{
      width: min(55vh,600px);
    }
  }

  @media only screen and (max-width: 800px) {
    .shop{
      &-img{
       display: none;
    }
    &-text{
      flex-basis: 100%;
    }
  }
  .sub {
    &-img {
      margin-top: 20%;
    }
  }
}

  