.shop {
    &-zone {
        margin-left: 8%;
        min-height: 500px;
    }
    &-img {
        width: 850px;
        max-width:calc(75vh + 10vw);
        position: relative;
        top: calc(-43vh - 35px);
        left: calc(15vw + 50px);
    }
}

.sub {
  &-img {
    position: relative;
    top: calc(-45vh);
    right: 0;
    width: 400px;

  }
}
@mixin z-layers {
    width: 100%;
    background-size: cover;
    position: absolute;
    min-height: 2000px;
    @media only screen and (max-width: 800px) {
    min-height: 600px;
    }
  }

.sand{
    &-zone{
        background-image: url("img/backgrounds/Layer2.png");
        background-size: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media only screen and (max-width: 800px) {
    .shop{ 
        &-img {
            display: none;
            }
        }
    }

@media only screen and (max-width: 800px) {
.shop{ 
    &-img {
        display: none;
        }
    }

    .sub{
        &-img{
            display: none;
        }
    }
}
  