@use "../mixins" as m;
@use "../colors" as c;

@mixin highlightText($bgColor, $fontColor: c.$primary-font-color) {
	background-color: $bgColor;
	color: $fontColor;
	padding: 3px 10px 3px 10px;  
	min-width: 130px;
	font-weight: 600;
  }

$mobile-margin: 40% 10% 0 10%;  

.App {
	width: 100%;
	background-image: url("/img/home/backgrounds/SandLayer.png");
	background-size: auto;
	background-position: 0 -355px;
	padding-bottom: 50%;

	@media only screen and (max-width: 1200px) {
		background-position: 0 -555px;
		line-height: 1.2;
	}

	@media only screen and (max-width: 600px) {
		padding-bottom: 85%;
	}
}
.sunlight {
	position: absolute;
	top: 0;
	left: 15%;
	max-width: 60%;
}

.parallax_group {
	position: relative;
}

/*   Nav Bar Area*/
.nav {
	&_menu {
		display: flex;
		background: url("/img/home/menu.png") no-repeat;
		background-size: contain;
		width: max(750px, 85%);
		height: max(110px, 4vw);
		padding: 0 2vw 0 4vw;
		margin-left: auto;
		margin-right: auto;
		z-index: 2;
		//Had to make this a relative because static doesn't work with z-index.
		//This needs to be z index 2 so the ray of light comes behind the nav menu.
		position: relative;
	}
	&_list {
		margin-left: 4rem;
		height: 65%;
		width: 100%;
		@include m.flex-master(null, space-between, center);
	}
	&_item {
		font-size: 3rem;
		margin-bottom: 1%;
	}
	&_logo {
		width: 80%;
		margin-top: 2vh;
	}
	&_icons {
		display: flex;
		align-items: flex-start;
		gap: 35px;
		margin: 0.5vw 1vw 0 0;
	}
}

.shop {
	&_zone {
		margin-left: 8%;
		display: flex;
	}
	&_text {
		flex-basis: 35%;
	}
	&_img {
		width: min(60vw, 850px);
	}
}
.sub {

	&_img {
		width: 400px;
		height: 75px;
		background: url("/img/home/subscribe.png") no-repeat;
		background-size: 100%;
		&:hover {
			background: url("/img/home/subscribe-hover.png") no-repeat;
			background-size: 100%;
		}
	}
	&_input {
		width: 400px;
		min-height: 35px;
		background: url("/img/home/subscribe_box.png") no-repeat;
		background-size: 100%;
		font-size: 1.45rem;
		color: c.$primary-font-color;

		padding: 0 0 0 3%;
		background-color: rgba(0, 0, 0, 0);
		background: transparent solid 1px;
		outline:c.$primary-font-color solid  1px;
     	outline-offset: -1px;
		&:hover {
			outline: transparent solid  1px;
			border: black solid 1px;
		}
	}
}
.sand {
	&_zone {
		@include m.flex-master(column, flex-start, center);
	}
}

.nft {
	@include m.z-layers(3, "/img/home/backgrounds/Layer3.png", 65%);
	@include m.flex-master(null, center, null);
	shape-outside: url("/img/home/backgrounds/Layer3.png");

	&_text {
		@include m.flex-master(column, null, center);
		margin-top: 36%;
	}

	&_highlight {
		@include highlightText(c.$normal-color, c.$primary-color)
	}
}
.crab {
	&_anat { 
	    	@include m.z-layers(4,"/img/home/backgrounds/Layer4.png",60%);
	    	@include m.flex-master(null,center,null);
		}
	&_text{
	    width: 80%;
	    @include m.flex-master(column,null,null);
	    margin-top: 25%;

	}
	&_rarityContainer{
	    @include m.flex-master(row,space-between,null);
	    margin-top: 3%;
	}

	&_rarityBlock{
	  @include m.flex-master(column,null,null);
	}

	&_inline{
	  padding-left: 3px;  
	
	}

	&_normal {
		@include highlightText(c.$normal-color, c.$primary-color)
	}
	&_magical {
		@include highlightText(c.$magic-color, c.$primary-font-color)
	}
	&_rare {
		@include highlightText(c.$rare-color, c.$primary-font-color)
	}
	&_legend {
		@include highlightText(c.$legend-color, c.$primary-font-color)
	}
}
.when {
	&_zone {
		@include m.z-layers(5, "/img/home/backgrounds/Layer5Eyes.png", 80%);
		@include m.flex-master(column, null, center);
	}
	&_text {
		margin-top: 30%;
	}
	&_highlight {
		@include highlightText(c.$normal-color, c.$primary-color)
	}
}

.treasure {
	&_zone {
		width: 100%;
		@include m.flex-master(null, center, flex-end);
	}

	&_img {
		width: clamp(10vw, 800px, 50%);
		margin-top: 10%;
	}
}

.footer {
	@include m.z-layers(6, "/img/home/backgrounds/Layer6.png", 45%);
	@include m.flex-master(column, null, center);
	&_social {
		display: flex;
		justify-content: center;
	}
	&_text {
		text-align: center;
	}
}
.logo_container {
	@include m.flex-master(row, center, null);
	margin-top: 35%;
	margin-bottom: 5%;
	& > img {
		width: min(400px, 20%);
	}
}
@media only screen and (max-width: 1400px) {
	.nav {
		&_list {
			height: 55%;
		}
		&_item {
			font-size: 2.5rem;
		}
	}

	.crab {
		&_text{
			margin-top: 30%;
			font-weight: 600;	
		}
	}
}

@media only screen and (max-width: 1200px) {
	.nav {
		&_list {
			align-items: start;
		}
		&_item {
			font-size: 2rem;
		}
	}
	.shop_img {
		width: max(65vw, 600px);
	}

  	.nft {
  	  &_text{
  	    margin-top: 45%;
  	  }
  	}

  	.crab {
  	  	&_text {
			margin-top: 30%;
  	  	  	width:80%;
  	  	}

		&_rarityContainer{
			margin-top: 4%;
		}
  	}

}
@media only screen and (max-width: 900px) {
	.nav {
		&_list {
			height: 55%;
		}
		&_item {
			font-size: 1.5rem;
		}
	}

	.shop_img {
		width: max(62vw, 600px);
	}

  	.crab {
    	&_text {
     		width:80%;
    }
  }
}
@media only screen and (max-width: 850px) {
	.shop_img {
		width: min(55vh, 600px);
	}
}
@media only screen and (max-width: 800px) {
	.nav {
		&_menu {
			display: none;
		}
		&_list {
			display: none;
		}
	}
	.shop {
		&_zone {
			flex-direction: column;
			justify-content: center;
			margin-left: 0;
		}
		&_img {
			width: 95vw;
			margin-top: min(20vw, 50px);
		}
		&_text {
			display: none;
		}
	}
	.sub {
		&_img {
			//When we get a mobile navbar image we will have to play with this setting
			margin-top: 3vh;
		}
		&_input {
			font-size: 1.1rem;
			padding-bottom: 7%;
		}
	}
  .crab {
    &_text {
      margin-top: 27%;
    }
    &_rarityContainer {
      @include m.flex-master(column,null,null);
      margin-top: 2%;
    }
    &_rarityBlock {
      margin-top: 3%;
      @include m.flex-master(row,space-between,null);
      div:nth-child(2){
        text-align: right;
      }
    }
    &_normal, &_magical, &_rare, &_legend {

      padding: 3px 3px 3px 3px;   
    }
  }
  
}
@media only screen and (max-width: 700px) {
	.shop {
		
		&_img {
			margin-top: max(3vw, 100px);
		}
	}
	.nft {
		padding-bottom: 100%;
		&_text{
			margin: $mobile-margin;
		}
	}
	.crab {
		&_anat {
			padding-bottom: 100%;
		}
		&_text{
			margin: $mobile-margin;
		}
	}
	.when {
		padding-bottom: 95%;
		&_text{
			margin: $mobile-margin;
		}
	}
	.footer {
		&_text {
			margin: $mobile-margin;
		}
	}
}
@media only screen and (max-width: 400px) {
	.shop {
		&_img {
			margin-top: max(3vw, 120px);
		}
	}
	.sub {
		&_img {
			width: 75vw;
		}
		&_input {
			background-size: cover;
			min-height: 45px;
			width: min(65vw, 300px);
			font-size: 0.8rem;
			padding-bottom: 3%;
		}
	}
	
}
