/*Main Site colors*/
/*Font colors*/
/*Span bg colors */
@-webkit-keyframes interference {
  10% {
    filter: opacity(0.94);
  }
  20% {
    filter: opacity(1);
  }
  30% {
    filter: opacity(0.8);
  }
  41% {
    filter: opacity(1);
  }
  50% {
    filter: opacity(0.98);
  }
  60% {
    filter: opacity(0.78);
  }
  70% {
    filter: opacity(0.78);
  }
  80% {
    filter: opacity(0.64);
  }
  90% {
    filter: opacity(1);
  }
}
@keyframes interference {
  10% {
    filter: opacity(0.94);
  }
  20% {
    filter: opacity(1);
  }
  30% {
    filter: opacity(0.8);
  }
  41% {
    filter: opacity(1);
  }
  50% {
    filter: opacity(0.98);
  }
  60% {
    filter: opacity(0.78);
  }
  70% {
    filter: opacity(0.78);
  }
  80% {
    filter: opacity(0.64);
  }
  90% {
    filter: opacity(1);
  }
}
/* For all heading on top of paragraph  */
.App {
  width: 100%;
  position: relative;
  background: url("/img/home/backgrounds/Sky.png") no-repeat;
  background-size: 100% 25%;
  padding-bottom: 60%;
}
@media only screen and (max-width: 3800px) {
  .App {
    background-size: 100% 29%;
  }
}
@media only screen and (max-width: 2400px) {
  .App {
    background-size: 100% 31%;
  }
}
@media only screen and (max-width: 1600px) {
  .App {
    background-size: 100% 37%;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 1200px) {
  .App {
    background-size: 100% 40%;
  }
}
@media only screen and (max-width: 800px) {
  .App {
    background-size: 100% 48%;
  }
}
@media only screen and (max-width: 600px) {
  .App {
    background-size: 100% 52%;
    padding-bottom: 65%;
  }
}

.sunlight {
  position: absolute;
  top: 0;
  left: 15%;
  max-width: 60%;
  -webkit-animation: interference 1.5s infinite linear;
          animation: interference 1.5s infinite linear;
}

.parallax_group {
  position: relative;
}

/* Nav Bar Area */
.nav_menu {
  display: flex;
  background: url("/img/home/menu.png") no-repeat;
  background-size: contain;
  width: max(750px, 85%);
  height: max(110px, 6vw);
  padding: 0 2vw 0 4vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
}
.nav_list {
  margin-left: 4rem;
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item {
  font-size: 3rem;
  margin-bottom: 1%;
}
.nav_logo {
  width: 80%;
  margin-top: calc(50% - 55px + 2.9658478131%);
}
.nav_icons {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  margin: 0.5vw 1vw 0 0;
}

.shop_zone {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 3;
  padding-top: 4%;
}
.shop_text {
  flex-basis: 35%;
  z-index: 2;
}
.shop_img {
  width: min(60vw, 850px);
  z-index: 2;
}
.shop_heading {
  background-color: #4cdebc;
  color: #191226;
  padding: 3px 10px 3px 10px;
  min-width: 130px;
  font-weight: 600;
}

.sand_zone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;
}
.sand_zone_sand {
  width: 100%;
  background: url("/img/home/backgrounds/Layer2.png") no-repeat;
  background-position: 0 0;
  background-size: 100%;
  position: absolute;
  top: -3vh;
  padding-bottom: 65%;
  height: clamp(400px, 24vh, 2888px);
  -o-object-fit: cover;
     object-fit: cover;
}
@media only screen and (min-width: 2000px) {
  .sand_zone_sand {
    background: url("/img/home/backgrounds/repeat_Layer2.png") no-repeat;
  }
}

.comingsoon_zone {
  width: 50%;
  z-index: 2;
}
.comingsoon_paragraphContainer {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  font-family: PF Ronda Seven;
  line-height: 31px;
  margin-bottom: 60px;
  color: #064F43;
  font-weight: 600;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .comingsoon_paragraphContainer {
    font-size: 0.875rem;
  }
}
.comingsoon_paragraphContainer > p {
  margin-bottom: 30px;
}
.comingsoon_paragraphContainer > p:last-child {
  margin-bottom: 0px;
}
.comingsoon_img {
  width: min(60vw, 850px);
  position: relative;
  margin-bottom: 31px;
}
.comingsoon_iconContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: min(30vw, 425px);
}
.comingsoon_iconContainer a {
  z-index: 2;
}
.comingsoon_iconContainer_twitter {
  width: 26%;
  height: 0;
  padding-bottom: 21%;
}
.comingsoon_iconContainer_twitter:hover {
  background: url("/img/home/follow_us/follow_icons_twitter_on_x3.png") no-repeat;
  background-size: contain;
}
.comingsoon_iconContainer_discord {
  width: 26%;
  height: 0;
  padding-bottom: 21%;
}
.comingsoon_iconContainer_discord:hover {
  background: url("/img/home/follow_us/follow_icons_discord_on_x3.png") no-repeat;
  background-size: contain;
}
.comingsoon_iconContainer_instagram {
  width: 26%;
  height: 0;
  padding-bottom: 21%;
}
.comingsoon_iconContainer_instagram:hover {
  margin-top: 1.5%;
  background: url("/img/home/follow_us/follow_icons_instagram_on_x3.png") no-repeat;
  background-size: contain;
}
.comingsoon_iconContainer_icons {
  pointer-events: none;
  position: absolute;
  width: min(30vw, 425px);
}
.comingsoon_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.sandBottom_zone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 0px;
  z-index: 10;
  opacity: 1;
  transition: opacity 2s;
  pointer-events: none;
}
.sandBottom_icons {
  align-self: flex-end;
  width: auto;
}
.sandBottom_leftSticker {
  position: relative;
  align-self: flex-end;
  width: 20%;
}
.sandBottom_leftSticker_icons {
  position: absolute;
  display: flex;
  justify-content: space-between;
  height: 120px;
  left: 4%;
  width: 79%;
  pointer-events: auto;
}
.sandBottom_leftSticker_icons a {
  z-index: 2;
}
.sandBottom_leftSticker_icons_twitter {
  width: 24%;
  height: 41%;
  margin-left: 4%;
  margin-top: 4%;
  transform: skew(342deg, 18deg);
}
.sandBottom_leftSticker_icons_discord {
  width: 26%;
  height: 40%;
  margin-top: 8%;
  transform: skew(20deg, -17deg);
}
.sandBottom_leftSticker_icons_instagram {
  width: 24%;
  height: 40%;
  margin-top: 13%;
  margin-right: 3%;
  transform: skew(342deg, 18deg);
}
.sandBottom_right {
  flex: 20%;
  position: relative;
  margin-left: auto;
  align-self: flex-end;
}
.sandBottom_right_container {
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  height: 100%;
  width: min(20vw, 150px);
  position: absolute;
  pointer-events: auto;
}
.sandBottom_right_container_discord {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-top: 9%;
  height: 33%;
  font-size: 1.25rem;
  font-family: Safety Goggles;
  color: #F8D4B3 !important;
}
.sandBottom_right_container_discord:hover {
  color: #F0C297 !important;
}
.sandBottom_right_container_soundOff {
  height: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sandBottom_right_container_soundOff_link {
  height: 40%;
}
.sandBottom_right_container_soundOff_icon {
  height: 100%;
  margin-right: 5px;
}
.sandBottom_right_container_soundOff_text {
  color: #F8D4B3;
  font-size: 1rem;
  font-family: Safety Goggles;
}
.sandBottom_image {
  height: auto;
  width: min(20vw, 150px);
  margin-left: auto;
}

.nft {
  pointer-events: none;
  width: 100%;
  background-image: url("/img/home/backgrounds/Layer3.png");
  background-size: cover;
  position: absolute;
  z-index: 3;
  padding-bottom: 65%;
  display: flex;
  justify-content: center;
  shape-outside: url("/img/home/backgrounds/Layer3.png");
}
.nft_container {
  width: 50%;
}
.nft_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70%;
  position: relative;
  text-align: center;
}
.nft_heading {
  font-size: 3.75rem;
  line-height: 2.6rem;
  font-family: Safety Goggles;
  margin-bottom: 60px;
  text-align: center;
  text-shadow: 2px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 60px;
}
@media only screen and (max-width: 850px) {
  .nft_heading {
    font-size: 3.1875rem;
    line-height: 2.4rem;
  }
}
@media only screen and (max-width: 600px) {
  .nft_heading {
    font-size: 2.1875rem;
  }
}
.nft_paragraphContainer {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  font-family: PF Ronda Seven;
  line-height: 31px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  .nft_paragraphContainer {
    font-size: 0.875rem;
  }
}
.nft_paragraphContainer > p {
  margin-bottom: 30px;
}
.nft_paragraphContainer > p:last-child {
  margin-bottom: 0px;
}
.nft_star1Container {
  width: 100%;
  height: 60px;
  align-self: start;
  position: relative;
}
.nft_star2Container {
  width: 100%;
  height: 60px;
  align-self: end;
  margin-bottom: 60px;
  position: relative;
}
.nft_star {
  position: absolute;
  height: auto;
}
@media only screen and (max-width: 1200px) {
  .nft_star {
    width: 60px;
    height: auto;
  }
}
@media only screen and (max-width: 800px) {
  .nft_star {
    width: 32px;
  }
}
@media only screen and (max-width: 400px) {
  .nft_star {
    width: 15px;
  }
}
.nft_star1 {
  width: 90px;
  height: 75px;
  transform: skew(23deg, -15deg);
}
.nft_star2 {
  right: 0;
  width: 67px;
  transform: skew(340deg, 26.5deg);
}
@media only screen and (max-width: 850px) {
  .nft_star2 {
    display: none;
  }
}

.crab_anat {
  width: 100%;
  background-image: url("/img/home/backgrounds/Layer4.png");
  background-size: cover;
  position: absolute;
  z-index: 4;
  padding-bottom: 60%;
  display: flex;
  justify-content: center;
}
.crab_container {
  width: 50%;
  margin-top: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.crab_heading {
  font-size: 3.75rem;
  line-height: 2.6rem;
  font-family: Safety Goggles;
  margin-bottom: 60px;
  text-align: center;
  text-shadow: 1px 4px #004D41;
  word-spacing: 0rem;
  letter-spacing: 0rem;
}
@media only screen and (max-width: 850px) {
  .crab_heading {
    font-size: 3.1875rem;
    line-height: 2.4rem;
  }
}
@media only screen and (max-width: 600px) {
  .crab_heading {
    font-size: 2.1875rem;
  }
}
.crab_rarityPopup {
  display: flex;
  flex-direction: row;
}
.crab_rarityPopup > div {
  width: 50%;
}
.crab_paragraphContainer {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  font-family: PF Ronda Seven;
  line-height: 31px;
  margin-bottom: 60px;
  margin-bottom: 60px;
  position: relative;
  font-size: 1.25rem;
}
@media only screen and (max-width: 600px) {
  .crab_paragraphContainer {
    font-size: 0.875rem;
  }
}
.crab_paragraphContainer > p {
  margin-bottom: 30px;
}
.crab_paragraphContainer > p:last-child {
  margin-bottom: 0px;
}
.crab_reroll {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}
.crab_reroll > a {
  position: relative;
  width: 202px;
  height: 90px;
  color: #FFFFFF !important;
}
.crab_reroll > a > div {
  position: absolute;
  width: 135px;
  height: 70px;
  top: 3px;
  right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Safety Goggles;
  font-size: 2.1875rem;
}
.crab_normal {
  color: #58BCA2;
  position: relative;
  display: inline-block;
}
.crab_normal_popup {
  position: absolute;
  width: min(30vw, 280px);
  top: -300%;
  left: -7rem;
}
.crab_normal_popup > img {
  position: absolute;
  top: 0;
  z-index: 1;
  filter: drop-shadow(5px 5px 2px #00574A);
}
.crab_normal_popupText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
.crab_normal_popupText > span {
  font-size: 1rem;
  color: #ffffff;
  z-index: 2;
  font-size: 1.5rem;
}
.crab_magic {
  color: #B88AF5;
  position: relative;
  display: inline-block;
}
.crab_magic_popup {
  position: absolute;
  width: min(30vw, 280px);
  top: -300%;
  left: -7rem;
}
.crab_magic_popup > img {
  position: absolute;
  top: 0;
  z-index: 1;
  filter: drop-shadow(5px 5px 2px #00574A);
}
.crab_magic_popupText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
.crab_magic_popupText > span {
  font-size: 1rem;
  color: #ffffff;
  z-index: 2;
  font-size: 1.5rem;
}
.crab_rare {
  color: #8ED5FB;
  position: relative;
  display: inline-block;
}
.crab_rare_popup {
  position: absolute;
  width: min(30vw, 280px);
  top: -300%;
  left: -7rem;
}
.crab_rare_popup > img {
  position: absolute;
  top: 0;
  z-index: 1;
  filter: drop-shadow(5px 5px 2px #00574A);
}
.crab_rare_popupText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
.crab_rare_popupText > span {
  font-size: 1rem;
  color: #ffffff;
  z-index: 2;
  font-size: 1.5rem;
}
.crab_legendary {
  color: #F19A46;
  position: relative;
  display: inline-block;
}
.crab_legendary_popup {
  position: absolute;
  width: min(30vw, 280px);
  top: -300%;
  left: -6rem;
}
.crab_legendary_popup > img {
  position: absolute;
  top: 0;
  z-index: 1;
  filter: drop-shadow(5px 5px 2px #00574A);
}
.crab_legendary_popupText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6rem;
}
.crab_legendary_popupText > span {
  font-size: 1rem;
  color: #ffffff;
  z-index: 2;
  font-size: 1.5rem;
}
.crab_frame {
  width: min(60vw, 500px);
  height: auto;
  position: relative;
}
.crab_frame_image {
  position: absolute;
  width: 87%;
  height: auto;
  left: 1.8rem;
  top: 7.5%;
  z-index: -1;
}
.crab_frame_image > img {
  width: 100%;
}
.crab_rarityContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
  position: relative;
}
.crab_rarityBlock {
  display: flex;
  flex-direction: column;
}

.when_zone {
  width: 100%;
  background-image: url("/img/home/backgrounds/Layer5Eyes.png");
  background-size: cover;
  position: absolute;
  z-index: 5;
  padding-bottom: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60%;
}
.when_text {
  margin-top: 30%;
  width: 50%;
  position: relative;
  text-align: center;
}
.when_heading {
  font-size: 3.75rem;
  line-height: 2.6rem;
  font-family: Safety Goggles;
  margin-bottom: 60px;
  text-align: center;
}
@media only screen and (max-width: 850px) {
  .when_heading {
    font-size: 3.1875rem;
    line-height: 2.4rem;
  }
}
@media only screen and (max-width: 600px) {
  .when_heading {
    font-size: 2.1875rem;
  }
}
.when_paragraphContainer {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  font-family: PF Ronda Seven;
  line-height: 31px;
  margin-bottom: 60px;
  margin-top: 3rem;
}
@media only screen and (max-width: 600px) {
  .when_paragraphContainer {
    font-size: 0.875rem;
  }
}
.when_paragraphContainer > p {
  margin-bottom: 30px;
}
.when_paragraphContainer > p:last-child {
  margin-bottom: 0px;
}
.when_roadmap {
  width: 50%;
}
.when_roadmap_details {
  display: flex;
  margin-top: 30%;
  position: relative;
}
.when_roadmap_imgContainer {
  flex: 50%;
  display: flex;
  justify-content: center;
}
.when_roadmap_imgContainer_image {
  width: min(12vw, 140px);
}
.when_roadmap_imgContainer_anomura {
  width: min(16vw, 200px);
}
.when_roadmap_text {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 2.5rem;
}
.when_roadmap_text > span:nth-child(1) {
  color: #3760D1;
}
.when_roadmap_text > span:nth-child(2) {
  color: #FFFFFF;
  font-family: Safety Goggles;
}
.when_roadmap_trail1 {
  position: absolute;
  height: auto;
  top: 10vw;
  left: 20vw;
  width: 40px;
}
@media only screen and (max-width: 1200px) {
  .when_roadmap_trail1 {
    width: 32px;
  }
}
@media only screen and (max-width: 800px) {
  .when_roadmap_trail1 {
    width: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .when_roadmap_trail1 {
    width: 15px;
  }
}
.when_roadmap_trail2 {
  position: absolute;
  height: auto;
  top: 14vw;
  left: 7vw;
  width: 40px;
  transform: rotate(180deg);
}
@media only screen and (max-width: 1200px) {
  .when_roadmap_trail2 {
    width: 32px;
  }
}
@media only screen and (max-width: 800px) {
  .when_roadmap_trail2 {
    width: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .when_roadmap_trail2 {
    width: 15px;
  }
}

.treasure_zone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.treasure_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 2%;
  width: clamp(50vw, 75%, 100%);
  padding-bottom: 35%;
  left: -5vw;
}
.treasure_card {
  position: absolute;
  left: 48%;
  /* for reading card text properly */
  width: clamp(8vw, 25%, 225px);
}
.treasure_chest {
  position: absolute;
  top: min(210px, 16vw);
  z-index: 2;
}
.treasure_chestFloor {
  pointer-events: none;
  position: absolute;
  top: min(210px, 16vw);
  -webkit-animation: interference 1.5s infinite ease-out;
          animation: interference 1.5s infinite ease-out;
  z-index: 1;
  opacity: 0.7;
}
.treasure_chestLight {
  pointer-events: none;
  position: absolute;
  top: min(210px, 16vw);
  -webkit-animation: interference 1.5s infinite linear;
          animation: interference 1.5s infinite linear;
  z-index: 3;
  opacity: 0.7;
}

.footer_zone {
  pointer-events: auto;
  width: 100%;
  background-image: url("/img/home/backgrounds/Layer6.png");
  background-size: cover;
  position: absolute;
  z-index: 999;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_container {
  margin-top: 38.5%;
  width: 50%;
}
.footer_follow {
  margin-bottom: 60px;
  position: relative;
}
.footer_followContainer {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  font-family: PF Ronda Seven;
  line-height: 31px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  .footer_followContainer {
    font-size: 0.875rem;
  }
}
.footer_followContainer > p {
  margin-bottom: 30px;
}
.footer_followContainer > p:last-child {
  margin-bottom: 0px;
}
.footer_bubble1 {
  position: absolute;
  height: auto;
  right: 24%;
  top: -8rem;
  width: 40px;
}
@media only screen and (max-width: 1200px) {
  .footer_bubble1 {
    width: 32px;
  }
}
@media only screen and (max-width: 800px) {
  .footer_bubble1 {
    width: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .footer_bubble1 {
    width: 15px;
  }
}
.footer_bubble2 {
  position: absolute;
  height: auto;
  right: -18%;
  top: -6rem;
  width: 40px;
}
@media only screen and (max-width: 1200px) {
  .footer_bubble2 {
    width: 32px;
  }
}
@media only screen and (max-width: 800px) {
  .footer_bubble2 {
    width: 22px;
  }
}
@media only screen and (max-width: 400px) {
  .footer_bubble2 {
    width: 15px;
  }
}
.footer_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  font-size: 2rem;
  width: 100%;
}
.footer_buttons > a {
  position: relative;
  width: 30%;
  color: #FFFFFF !important;
  display: flex;
  justify-content: center;
}
.footer_buttons > a > div {
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  height: 80%;
}
.footer_buttons > a > div > span {
  font-family: Safety Goggles;
}
.footer_buttons > a > img {
  width: min(100%, 250px);
}
.footer_social {
  display: flex;
  justify-content: center;
}
.footer_anomura {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}
.footer_anomura > img {
  width: min(400px, 50%);
}
.footer_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}
.footer_logo > img {
  width: min(400px, 33%);
}
.footer_presented {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  font-family: PF Ronda Seven;
  line-height: 31px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  .footer_presented {
    font-size: 0.875rem;
  }
}
.footer_presented > p {
  margin-bottom: 30px;
}
.footer_presented > p:last-child {
  margin-bottom: 0px;
}
.footer_mission {
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  font-family: PF Ronda Seven;
  line-height: 31px;
  margin-bottom: 60px;
}
@media only screen and (max-width: 600px) {
  .footer_mission {
    font-size: 0.875rem;
  }
}
.footer_mission > p {
  margin-bottom: 30px;
}
.footer_mission > p:last-child {
  margin-bottom: 0px;
}
.footer_mission > p {
  color: #95DDC0;
}
.footer_policy {
  position: relative;
  display: flex;
  justify-content: center;
}
.footer_policy_line {
  width: 100%;
  border-bottom: 1px solid #F55690;
  position: absolute;
}
.footer_policy > div {
  margin-top: 2rem;
  font-size: 1.25rem;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer_policy > div > a {
  color: #F55690 !important;
  font-family: PF Ronda Seven;
}
.footer_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 2%;
  width: clamp(50vw, 75%, 100%);
  padding-bottom: 35%;
  left: -5vw;
}
.footer_chestImage {
  position: absolute;
  left: -12%;
  bottom: 0;
  width: 40%;
}
.footer_chestImage_wrapper {
  position: relative;
  width: 100%;
  height: 500px;
}
.footer_chestImage_card {
  position: absolute;
  left: 40%;
  top: 3rem;
  /* for reading card text properly */
  width: clamp(8vw, 25%, 225px);
}
.footer_chestImage_chest {
  position: absolute;
  bottom: 0;
  z-index: 2;
  transform: scaleX(-1);
}
.footer_chestImage_floor {
  position: absolute;
  bottom: 0;
  -webkit-animation: interference 1.5s infinite ease-out;
          animation: interference 1.5s infinite ease-out;
  z-index: 1;
  opacity: 0.7;
  transform: scaleX(-1);
}
.footer_chestImage_light {
  pointer-events: none;
  position: absolute;
  bottom: 0.5rem;
  -webkit-animation: interference 1.5s infinite linear;
          animation: interference 1.5s infinite linear;
  z-index: 3;
  opacity: 0.7;
  transform: scaleX(-1);
}

@media only screen and (max-width: 1400px) {
  .nav_list {
    height: 55%;
  }
  .nav_item {
    font-size: 2.5rem;
  }

  .treasure_zone {
    padding-bottom: 35%;
  }

  .crab_text {
    margin-top: 30%;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1200px) {
  .nav_list {
    align-items: start;
  }
  .nav_item {
    font-size: 2rem;
  }

  .shop_img {
    width: max(65vw, 600px);
  }

  .nft_text {
    margin-top: 65%;
  }

  .crab_text {
    margin-top: 30%;
    width: 80%;
  }
  .crab_rarityContainer {
    margin-top: 4%;
  }

  .treasure_image {
    margin-top: 10%;
  }

  .footer_buttons {
    font-size: 1.3125rem;
  }
}
/* ----------- General ipads ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) and (-webkit-min-device-pixel-ratio: 2) {
  .App {
    background-size: 100% 46%;
  }

  .shop_zone {
    padding-top: 20%;
  }
  .shop_text {
    margin-top: -10%;
    font-size: 1.3rem;
  }
  .shop_img {
    width: max(65vw, 600px);
  }

  .follow_img {
    padding-top: 2%;
  }

  .nft_text {
    width: 75%;
    margin-top: 50%;
    font-size: 1.2rem;
    line-height: 1.3;
  }

  .crab_text {
    margin-top: 40%;
    font-size: 1.2rem;
    line-height: 1.3;
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .nav_list {
    height: 55%;
  }
  .nav_item {
    font-size: 1.5rem;
  }

  .shop_img {
    width: max(65vw, 600px);
  }

  .crab_text {
    width: 80%;
  }

  .policy > div {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 850px) {
  .shop_img {
    width: min(55vh, 600px);
  }

  .crab_container {
    width: 60%;
  }

  .nft {
    padding-bottom: 80%;
  }
  .nft_container {
    width: 60%;
  }
  .nft_text {
    margin-top: 60%;
  }
  .nft_star1Container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nft_star1 {
    width: 70px;
    height: 58px;
    transform: skew(0deg, 0deg);
  }

  .footer_zone {
    padding-bottom: 5%;
  }
  .footer_container {
    margin-top: 38.5%;
    width: 60%;
  }
  .footer_policy > div {
    font-size: 1.25rem;
    flex-direction: column;
    align-items: center;
    line-height: 3;
  }
  .footer_policy > div > a {
    line-height: 24px;
  }
}
@media only screen and (max-width: 800px) {
  .nav_menu {
    display: none;
  }
  .nav_list {
    display: none;
  }

  .shop_zone {
    flex-direction: column;
    justify-content: center;
    max-width: 85%;
  }
  .shop_img {
    width: 95vw;
  }
  .shop_text {
    font-size: 1.1rem;
  }

  .follow_img {
    margin-top: 0.7vh;
    margin-left: 15px;
    width: 84vw;
  }
  .follow_input {
    font-size: 1.3rem;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .crab_anat {
    padding-bottom: 80%;
  }
  .crab_text {
    margin-top: 45%;
  }
  .crab_rarityContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }
  .crab_rarityBlock {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .crab_rarityBlock div:nth-child(2) {
    text-align: right;
  }

  .when {
    padding-bottom: 100%;
  }
  .when_text {
    margin: 40% 10% 0 10%;
  }

  .treasure_zone {
    margin-top: 5%;
    padding-bottom: 60%;
  }

  .footer_buttons {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
  }
  .footer_buttons > a {
    width: 80%;
    height: 100%;
    margin-bottom: 2rem;
  }
  .footer_buttons > a > img {
    width: 100%;
  }
  .footer_text {
    font-size: 0.875rem;
    margin-bottom: 2rem;
  }
  .footer_text > p {
    color: #95DDC0;
  }
}
@media only screen and (max-width: 700px) {
  .crab_text {
    font-weight: 500;
  }

  .treasure_chestContainer {
    margin-top: 10%;
    margin-bottom: 75%;
  }
}
@media only screen and (max-width: 600px) {
  .follow_iconContainer {
    margin-top: 1.2vh;
    transform: scale(1.3);
  }

  .sandBottom_leftSticker {
    display: none;
  }
  .sandBottom_right {
    display: none;
  }

  .treasure_image {
    left: -5vw;
    margin-top: 5vh;
  }

  .footer_zone {
    padding-bottom: 10%;
  }
  .footer_container {
    margin-top: 80%;
  }
  .footer_followText {
    font-size: 0.875rem;
  }
  .footer_buttons > a {
    width: 100%;
  }
  .footer_anomura > img {
    width: 100%;
  }
  .footer_logo > img {
    width: 50%;
  }
  .footer_chestImage {
    display: none;
  }
  .footer_text {
    margin-bottom: 60px;
    font-size: 0.8125rem;
  }
  .footer_policy_line {
    width: 100%;
    border-bottom: 1px solid #F55690;
    position: absolute;
  }
  .footer_policy > div {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 400px) {
  .shop_text {
    font-size: 0.95rem;
  }

  .sandBottom_left {
    flex: 20%;
  }
  .sandBottom_icons {
    width: min(60vw, 850px);
  }
  .sandBottom_center {
    width: min(60vw, 850px);
    margin-left: 0%;
  }
  .sandBottom_center_icons a {
    width: 25%;
    height: 0;
    padding-bottom: 21%;
  }
  .sandBottom_right_container {
    width: min(15vw, 150px);
  }
  .sandBottom_image {
    width: min(15vw, 150px);
  }

  .follow_img {
    margin-top: 1vh;
  }
  .follow_input {
    background-size: cover;
    min-height: 45px;
    width: min(65vw, 300px);
    font-size: 0.95rem;
    padding-bottom: 3%;
  }

  .nft_text {
    font-size: 0.95rem;
  }

  .crab_text {
    padding-top: 15%;
    font-size: 1rem;
  }

  .when_text {
    line-height: 1.5rem;
  }
}/*# sourceMappingURL=home.module.css.map */