/*Main Site colors*/
/*Font colors*/
/*Span bg colors */
.App {
  width: 100%;
  background-image: url("/img/home/backgrounds/SandLayer.png");
  background-size: auto;
  background-position: 0 -355px;
  padding-bottom: 60%;
}
@media only screen and (max-width: 1200px) {
  .App {
    background-position: 0 -555px;
    line-height: 1.2;
  }
}
@media only screen and (max-width: 600px) {
  .App {
    padding-bottom: 85%;
  }
}

.sunlight {
  position: absolute;
  top: 0;
  left: 15%;
  max-width: 60%;
}

.parallax_group {
  position: relative;
}

/*   Nav Bar Area*/
.nav_menu {
  display: flex;
  background: url("/img/home/menu.png") no-repeat;
  background-size: contain;
  width: max(750px, 85%);
  height: max(110px, 6vw);
  padding: 0 2vw 0 4vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  position: relative;
}
.nav_list {
  margin-left: 4rem;
  height: 65%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item {
  font-size: 3rem;
  margin-bottom: 1%;
}
.nav_logo {
  width: 80%;
  margin-top: 2vh;
}
.nav_icons {
  display: flex;
  align-items: flex-start;
  gap: 35px;
  margin: 0.5vw 1vw 0 0;
}

.shop_zone {
  margin-left: 8%;
  display: flex;
}
.shop_text {
  flex-basis: 35%;
}
.shop_img {
  width: min(60vw, 850px);
}

.sub_img {
  width: 400px;
  height: 75px;
  background: url("/img/home/subscribe.png") no-repeat;
  background-size: 100%;
  z-index: 6;
  position: relative;
}
.sub_img:hover {
  background: url("/img/home/subscribe-hover.png") no-repeat;
  background-size: 100%;
}
.sub_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sub_input {
  width: 350px;
  min-height: 35px;
  background: url("/img/home/subscribe_box.png") no-repeat;
  background-size: 100%;
  font-size: 1.45rem;
  color: #fff;
  padding: 0 0 0 3%;
  background-color: rgba(0, 0, 0, 0);
  border: transparent solid 1px;
  z-index: 6;
  position: relative;
}
.sub_input:hover {
  border: black solid 1px;
}
.sub_input:focus {
  border: black solid 1px;
}
.sub_arrow {
  width: 47px;
  min-height: 35px;
  background: url("/img/home/arrow.png") no-repeat;
  background-size: 100%;
  margin-left: 3px;
}

.sand_zone {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.nft {
  width: 100%;
  background-image: url("/img/home/backgrounds/Layer3.png");
  background-size: cover;
  position: absolute;
  z-index: 3;
  padding-bottom: 65%;
  display: flex;
  justify-content: center;
  shape-outside: url("/img/home/backgrounds/Layer3.png");
}
.nft_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36%;
}
.nft_highlight {
  background-color: #4cdebc;
  color: #191226;
  padding: 3px 10px 3px 10px;
  min-width: 130px;
  font-weight: 600;
}

.crab_anat {
  width: 100%;
  background-image: url("/img/home/backgrounds/Layer4.png");
  background-size: cover;
  position: absolute;
  z-index: 4;
  padding-bottom: 60%;
  display: flex;
  justify-content: center;
}
.crab_text {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 25%;
}
.crab_rarityContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3%;
}
.crab_rarityBlock {
  display: flex;
  flex-direction: column;
}
.crab_inline {
  padding-left: 3px;
}
.crab_normal {
  background-color: #4cdebc;
  color: #191226;
  padding: 3px 10px 3px 10px;
  min-width: 130px;
  font-weight: 600;
}
.crab_magical {
  background-color: #5afef9;
  color: #fff;
  padding: 3px 10px 3px 10px;
  min-width: 130px;
  font-weight: 600;
}
.crab_rare {
  background-color: #805bfe;
  color: #fff;
  padding: 3px 10px 3px 10px;
  min-width: 130px;
  font-weight: 600;
}
.crab_legend {
  background-color: #93fe5a;
  color: #fff;
  padding: 3px 10px 3px 10px;
  min-width: 130px;
  font-weight: 600;
}

.when_zone {
  width: 100%;
  background-image: url("/img/home/backgrounds/Layer5Eyes.png");
  background-size: cover;
  position: absolute;
  z-index: 5;
  padding-bottom: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}
.when_text {
  margin-top: 30%;
}
.when_highlight {
  background-color: #4cdebc;
  color: #191226;
  padding: 3px 10px 3px 10px;
  min-width: 130px;
  font-weight: 600;
}

.treasure_zone {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.treasure_img {
  width: clamp(10vw, 800px, 50%);
}

.footer {
  width: 100%;
  background-image: url("/img/home/backgrounds/Layer6.png");
  background-size: cover;
  position: absolute;
  z-index: 6;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_social {
  display: flex;
  justify-content: center;
}
.footer_text {
  text-align: center;
}

.logo_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 35%;
  margin-bottom: 5%;
}
.logo_container > img {
  width: min(400px, 20%);
}

@media only screen and (max-width: 1400px) {
  .nav_list {
    height: 55%;
  }
  .nav_item {
    font-size: 2.5rem;
  }

  .crab_text {
    margin-top: 30%;
    font-weight: 600;
  }
}
@media only screen and (max-width: 1200px) {
  .nav_list {
    align-items: start;
  }
  .nav_item {
    font-size: 2rem;
  }

  .shop_img {
    width: max(65vw, 600px);
  }

  .nft_text {
    margin-top: 45%;
  }

  .crab_text {
    margin-top: 30%;
    width: 80%;
  }
  .crab_rarityContainer {
    margin-top: 4%;
  }

  .crab_text {
    width: 80%;
  }
}
@media only screen and (max-width: 900px) {
  .nav_list {
    height: 55%;
  }
  .nav_item {
    font-size: 1.5rem;
  }

  .shop_img {
    width: max(62vw, 600px);
  }

  .crab_text {
    width: 80%;
  }
}
@media only screen and (max-width: 850px) {
  .shop_img {
    width: min(55vh, 600px);
  }
}
@media only screen and (max-width: 800px) {
  .nav_menu {
    display: none;
  }
  .nav_list {
    display: none;
  }

  .shop_zone {
    flex-direction: column;
    justify-content: center;
    margin-left: 0;
  }
  .shop_img {
    width: 95vw;
  }
  .shop_text {
    display: none;
  }

  .sub_img {
    margin-top: 3vh;
  }
  .sub_input {
    font-size: 1.3rem;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .crab_text {
    margin-top: 35%;
  }
  .crab_rarityContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }
  .crab_rarityBlock {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .crab_rarityBlock div:nth-child(2) {
    text-align: right;
  }
  .crab_normal, .crab_magical, .crab_rare, .crab_legend {
    padding: 3px 3px 3px 3px;
  }

  .footer {
    padding-bottom: 35%;
  }
}
@media only screen and (max-width: 700px) {
  .shop_img {
    margin-top: max(3vw, 100px);
  }

  .nft {
    padding-bottom: 100%;
  }
  .nft_text {
    margin: 40% 10% 0 10%;
  }

  .crab_anat {
    padding-bottom: 100%;
  }
  .crab_text {
    margin: 40% 10% 0 10%;
  }

  .when {
    padding-bottom: 95%;
  }
  .when_text {
    margin: 40% 10% 0 10%;
  }

  .footer_text {
    margin: 40% 10% 0 10%;
  }
}
@media only screen and (max-width: 400px) {
  .shop_img {
    margin-top: max(3vw, 120px);
  }

  .sub_img {
    width: 75vw;
  }
  .sub_input {
    background-size: cover;
    min-height: 45px;
    width: min(65vw, 300px);
    font-size: 0.8rem;
    padding-bottom: 3%;
  }
}/*# sourceMappingURL=home.module.css.map */