@use "../mixins" as m;
@use "../colors" as c;

$bp-small: 384px;            // 384   24em
$bp-small-2: 500px;       // 500   31.25em
$bp-small-3: 636px;        // 636   39.8em
$bp-med: 748px;            // 748   46.8em
$bp-med-2: 800px;            // 800   50em
$bp-large: 872px;          // 872   54.5em
$bp-large-2: 1200px;          // 1200  75em
$bp-xl: 1440px;               // 1440  90em 
$bp-xl-2: 1980px;         // 1980  123.75em
$bp-xl-3: 2560px;            // 2560  160em
$bp-xl-4: 3840px;            // 2560  160em

.nav {
    position: fixed;
    @include m.flex-master(row, center, center);
	height: 10%;
	width: 100%;
    // padding: 0.75rem;
    z-index: 12;

	&_menu {
		@include m.flex-master(row, space-between, center);
		position: relative;
        z-index: 2;
        width: 80%;
        background-color: green;
        border: solid 0.3em green;
        border-bottom-color: #3581fc;
        border-radius: 8px;
        margin: 1.5rem;
        padding: 0.5rem;
 
        @media (min-width: $bp-small) {  
            // padding: 0.85rem;
        }
        @media (min-width: $bp-med) {  
            // padding: 1.25rem;
        }
        @media (min-width: $bp-xl-2) {  
            // padding: 1.5rem;
        }
        @media (min-width: $bp-xl-3) {  
            // padding: 2.5rem;
        }
	}
   
	&_list {
		@include m.flex-master(row, space-evenly, null);
        width: 100%;

        &_first {
            @include m.flex-master(row, space-evenly, center);
            width: 33%;
        }
        &_mid {
            @include m.flex-master(row, center, null);
            width: 33%;
            position: relative;
           
            &_wrapper {
                position: absolute;
                top: -1rem;
                width: 50%;

            }
            // & > img {
            //    width: 75%;
            // }
        }
        &_last {
            @include m.flex-master(row, space-evenly, center);
            width: 33%;
        }

        &_item {
            font-size: 1.5rem;
            margin-bottom: 1%;
            font-family: Safety Goggles;
            color: #fff!important;
            opacity: 0.75;

            @media (min-width: $bp-xl-3) {  
                font-size: 2rem;
            }
        }
	}
    &_button {
        @include m.flex-master(null, flex-end, center);
        & > div:nth-child(1) {
            font-size: 1.5rem;
        }
        width: 33%;

        &_pink { // 526 x 129
            @include m.large_button();
            width: min(50%, 120px);

            @media (min-width: $bp-med) {  
                width: auto;
                max-width: 200px;
            }
            @media (min-width: $bp-xl) {  
                max-width: 250px;
            }
            @media (min-width: $bp-xl-2) {  
                max-width: 300px;
            }
            &:hover {
                color: #CE3C85;
            }
    
            &:disabled {
                cursor: not-allowed!important;
                color: #A2B7B6!important;
                &:hover {
                    color: #A2B7B6!important;
                }
            }
        }
	}
    &_mobile {
        background: #4383AE;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        transition: transform 0.3s ease-in-out;
        z-index: 10;

        &_wrapper {
            // @include m.flex-master(column, center, center);
            height: 100%;
        }
        &_close {
            position: absolute;
            top: 0;
            right: 0;
            padding-right: 1rem;
            height: auto;
        }
        &_content {
            @include m.flex-master(column, space-around, center);
            height: 100%;

            &_logo {
                width: 80%;
            }
            &_list {
                @include m.flex-master(column, center, center);
                width: 100%;
        
                &_item {
                    font-size: 3rem;
                    margin-bottom: 1%;
                    font-family: Safety Goggles;
                    opacity: 0.75;
                }
                
            }

            &_footer {
                @include m.flex-master(column, flex-end, center);
                width:60%;
                gap: 1rem;

                &_button {
                    @include m.flex-master(null, flex-end, center);

                    &_balance {
                        color: white;
                        font-family: PFRondaSeven;
                        font-size: 1rem;
                        flex: 45%;

                        @media (min-width: $bp-small-2) {  
                            font-size: 1.25rem;
                        }
                        @media (min-width: $bp-med-2) {  
                            // width: 27%;
                        }
                     
                    }
            
                    &_pink {
                        @include m.large_button();
                        &:hover {
                            color: #CE3C85;
                        }
                
                        &:disabled {
                            cursor: not-allowed!important;
                            color: #A2B7B6!important;
                            &:hover {
                                color: #A2B7B6!important;
                            }
                        }
                    }
                }

                &_socials {        
                    @include m.flex-master(row, space-evenly, center);
                    gap: 1rem;
                    width: 100%;
                    @media (min-width: $bp-small-3) {  
                        // width: 33%;
                    }
                    @media (min-width: $bp-xl-3) {  
                        // width: 27%;
                    }
             
                    &_icon {
                        @include m.flex-master(row, null, center);
                        width: 20%; 
                        position: relative;
                    
                        > img:nth-child(1){
                            margin-top: 4.5%;
                            margin-left: 4.75%;
                            width: 91%; 
                        }
                    }
                }   
            }
        }
    }
}