@use "../mixins" as m;

.nft {
  @include m.z-layers(3,"img/backgrounds/Layer3.png",65%);
  @include m.flex-master(null,center,null);
  shape-outside: url("img/backgrounds/Layer3.png");
  &-text{
    @include m.flex-master(column,null,center);
    margin-top: 40%;
  }
}

@media only screen and (max-width: 700px){
  .nft-text{
    margin: 40% 10% 0 10%;
  }
}