@use "../mixins" as m;
.nav {
    &-menu {
    display: flex;
    background: url("img/menu.png") no-repeat;
    background-size:contain;
    width: max(750px,85%);
    height: max(110px, 5vw);
    padding: 0 2vw 0 4vw;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    //Had to make this a relative because static doesn't work with z-index. 
    //This needs to be z index 2 so the ray of light comes behind the nav menu.
    position: relative;
    }
    &-list {
        margin-left: 4rem;
        height: 65%;
        width: 100%;
        @include m.flex-master(null,space-between,center);
    }
    &-item{
        font-size: 2rem;
    }
    &-logo{
        width: 80%;
        margin-top: 2vh;
    }
    &-icons{
        display: flex;
        gap: .5rem;
        
    }
}

.nes-icon{
    width:40px;
}

@media only screen and (max-width: 1200px) {
    .nav {
        &-list{
            align-items: start;
        }
    }
}
@media only screen and (max-width: 800px) {
    .nav {
        &-menu {
            display: none;

        }
        &-list{
            display: none;
        }
    }
}