.nav {
    &-menu {
        display: flex;
    background: url("img/menu.png") no-repeat;
    background-size:contain;
    width: max(750px,85%);
    height: max(70px, 5vw);
    padding: 0 4vw;
    margin: auto;
    z-index: 2;
    }
    &-list {
        height: clamp(30px,50%,80%);
        display: flex;
        justify-content: space-between;
        justify-self: right;
        align-items: center;
        width: 100%;
        }
    
}

@media only screen and (max-width: 800px) {
    .nav {
        &-menu {
        background-size:100% 50%;
        width: 100%;
        height: unset;
        padding: 0 4vw;
        display: none;
        }
        &-list {
            flex-direction: column;
        }
        
    }
}