/*Main Site colors*/
/*Font colors*/
@font-face {
  src: url("fonts/AtlantisInternational.ttf");
  font-family: Atlantis;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
}

body {
  scroll-behavior: smooth;
  font-size: clamp(16px, 26px, 34px);
  font-family: Atlantis;
  color: #fff;
  line-height: 1.5;
}

.App {
  min-height: 145vh;
  overflow: hidden;
  background-image: url("img/backgrounds/SandLayer.png");
  background-position: 0 -25vh;
  background-size: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: clamp(60vw, 80vw, 95vw);
  margin: auto;
}

.nav-menu {
  background-image: url("img/menu.png");
  background-repeat: no-repeat;
  background-size: 100%;
  max-width: clamp(60vw, 80vw, 90vw);
  min-height: 100px;
  padding: 0 4vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  justify-self: right;
  width: 100%;
}

.shop-zone {
  margin-left: 10vw;
}
.shop-img {
  max-width: 1000px;
  position: absolute;
  top: 10vh;
  left: 40%;
}

.sub-img {
  position: absolute;
  top: 75vh;
  min-width: 400px;
  width: max(500px, 25vw);
}

.parallax-group {
  position: relative;
  width: 100vw;
}

.nft {
  background-size: auto;
  background-repeat: repeat-x;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 1400px;
  background-image: url("img/backgrounds/Layer3.png");
  z-index: 3;
  padding: 40% 0 10% 0;
}

.crab-anat {
  background-size: auto;
  background-repeat: repeat-x;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 1400px;
  background-image: url("img/backgrounds/Layer4.png");
  z-index: 4;
  padding: 30% 0 10% 0;
}

.when-zone {
  background-size: auto;
  background-repeat: repeat-x;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 1400px;
  background-image: url("img/backgrounds/Layer5Eyes.png");
  z-index: 5;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 2000px;
  padding-top: 55vh;
}

.footer {
  background-size: auto;
  background-repeat: repeat-x;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-height: 1400px;
  background-image: url("img/backgrounds/Layer6.png");
  z-index: 6;
  bottom: 0;
}

.social-shop {
  gap: 0 5vw;
}

.mt-2 {
  margin-top: 3vh;
}
.m-auto {
  margin: auto;
}

.pl-auto {
  padding-left: 25vw;
}

.d-flex {
  display: flex;
}

.col {
  flex-direction: column;
}

.f-justify-c {
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.text-center > p,
.text-center > h2,
.text-center > h3 {
  text-align: center;
}

@media only screen and (max-width: 1450px) {
  .shop-zone {
    margin-left: 5rem;
  }
  .shop-img {
    max-width: 850px;
    top: 25vh;
    left: 28%;
  }
}
@media only screen and (max-width: 1200px) {
  .shop-img {
    top: 30vh;
    max-width: 800px;
  }
  .shop-zone {
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 1100px) {
  body {
    background-position: 0 20vh;
  }

  .shop-img {
    top: 40vh;
    left: 32%;
    max-width: 600px;
  }
  .shop-zone {
    margin-left: 3rem;
  }

  .sub-img {
    margin-top: 12rem;
  }
}
@media only screen and (max-width: 800px) {
  .shop-img {
    display: none;
  }
}
@-webkit-keyframes GoTransparent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes GoTransparent {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes GoOpaque {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes GoOpaque {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}/*# sourceMappingURL=app.css.map */