@use "sass/colors" as c;

$container-width: clamp(60vw, 80vw, 95vw);
$font-size: clamp(16px, 26px, 34px);

$top-offset: -200px;
@font-face {
  src: url("fonts/AtlantisInternational.ttf");
  font-family: Atlantis;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  line-height: 1.8;
  font-size: $font-size;
  font-family: Atlantis;

  background-image: url("img/backgrounds/SandLayer.png");
  background-position: 0 $top-offset;
  background-size: auto;
  background-repeat: no-repeat;

  color: c.$primary-font-color;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: c.$primary-font-color;
}

.container {
  width: $container-width;
  margin: auto;
}

.nav {
  &-menu {
    background-image: url("img/menu.png");
    background-repeat: no-repeat;
    background-size: 100% 50%;
    max-width: clamp(60vw, 80vw, 90vw);
    min-height: 140px;
    padding: 0 4vw;
  }

  &-list {
    display: flex;
    justify-content: space-between;
    justify-self: right;
    width: 100%;
  }
}

.scroll-wrapper {
  position: absolute;
  top: 0;
  min-height: 100vh;
}

.shop {
  &-zone {
    margin-left: 10%;
    display: flex;
  }
  &-img {
    max-width: 1000px;
    position: absolute;
    left: 25%;
    top: calc(#{$top-offset} - 350px * -1);
  }
}

.sub {
  &-image {
    min-width: 400px;
    width: max(500px, 25vw);
    height: 25vh;
  }
}

.nft {
  width: 100%;
  background: top / cover no-repeat url("img/backgrounds/Layer3.png");
  z-index: 3;
  min-height: 75rem;
}

.crab-anat {
  &.scroll {
    background: no-repeat url("img/backgrounds/Layer4.png");
    z-index: 4;
    min-height: 100vh;
  }
}
.treasure {
  &.scroll {
    background: no-repeat url("img/backgrounds/Layer5.png");
    z-index: 5;
    min-height: 100vh;
  }
}

.footer {
  &.scroll {
    background: no-repeat url("img/backgrounds/Layer6.png");
    z-index: 6;
    min-height: 100vh;
  }
}

.social {
  &-shop {
    gap: 0 5vw;
  }
}
.mt {
  &-2 {
    margin-top: 3vh;
  }
}

.d-flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.text {
  &-center > {
    p,
    h2,
    h3 {
      text-align: center;
    }
  }
}

.f {
  &-justify-center {
    justify-content: center;
  }
}

.animTransparent {
  opacity: 0;
  transition: 2s;
}

.animOpaque {
  opacity: 1;
  transition: 2s;
}

@media only screen and (max-width: 1400px) {
  body {
    background-position: 0 -100px;
  }

  .shop {
    &-img {
      top: 350px;
      left: 25%;
    }
  }
  .sub {
    &-image {
      margin-top: 27vh;
    }
  }
}

@media only screen and (max-width: 1200px) {
  body {
    background-position: 0 0;
  }
  .shop {
    &-img {
      position: static;
      max-width: 800px;
    }
    &-zone {
      margin-left: 15%;
    }
  }

  .sub {
    &-image {
      margin-top: 0vh;
    }
  }
}
@media only screen and (max-width: 800px) {
  .shop {
    &-img {
      display: none;
    }
  }
  .sub {
    &-image {
      margin-top: 30vh;
    }
  }
}

@keyframes GoTransparent {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes GoOpaque {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
