@use "sass/colors" as c;
@font-face {
  src: url("fonts/AtlantisInternational.ttf");
  font-family: Atlantis;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,body {
  width: 100%;
}
body{
  overflow-x:hidden;
  font-size: clamp(20px,2vw,26px);
  font-family: Atlantis;
  color: c.$primary-font-color;
  line-height: 1.5;

  @media only screen and (max-width: 1200px) {
    line-height: 1.2;
  }
}
input[type=text]{
  &:focus{
    outline: none;
  }
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: c.$primary-font-color;
}
.App{
  width: 100%;
  background-image: url("img/backgrounds/SandLayer.png");
  background-size: auto;
  background-position: 0 -355px;
  padding-bottom: 40%;
}
.sunlight{
  position: absolute;
  top: 0;
  left: 15%;
  max-width: 60%;
}
.parallax-group{
  position: relative;
}
.m {
  &t {
    &-2 {
      margin-top: 3vh;
    }
  }
  &-auto {
    margin: auto;
  }
}
.p {
  &l-auto {
    padding-left: 25vw;
  }
}
.d-flex {
  display: flex;
}
.col {
  flex-direction: column;
}
.f {
  &-justify-c {
    justify-content: center;
  }
}
.bold {
  font-weight: bold;
}
.text {
  &-center > {
    p,
    h2,
    h3 {
      text-align: center;
    }
  }
}

