.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  max-width: 100%;
  max-height: 100%;
  position: relative;
}

.toggleModal {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 12%;
  height: auto;
}

.modal_container {
  width: 80%;
  height: 95%;
  display: flex;
  flex-direction: column;
  background: url("/img/imageviewer/Others/OpenSea Invetory_framex2_04.png") no-repeat;
  background-size: 100% 100%;
  border-radius: 0.5rem;
  z-index: 3;
}
.modal_overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  pointer-events: auto;
}

.component_zone {
  pointer-events: auto;
  height: 80%;
  margin: 18% 11% 15% 11%;
  overflow: hidden;
  z-index: 2;
  position: relative;
}
.component_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.component_list_item {
  display: flex;
  flex-direction: row;
}
.component_list_item_icon {
  width: min(10vw, 50px);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.component_list_item_description {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-left: 2%;
  font-size: 1.5rem;
}
@media (min-width: 31.25em) {
  .component_list_item_description {
    font-size: 2.25rem;
  }
}
.component_list_item_description > span {
  line-height: 1.7rem;
  margin-left: 5%;
}
.component_list_item_description_normal {
  color: #A5EBE3;
}
.component_list_item_description_magic {
  color: #BDB9FB;
}
.component_list_item_description_rare {
  color: #FFC8B3;
}
.component_list_item_description_legend {
  color: #FACD66;
}
.component_card {
  height: 100%;
  width: 80%;
  top: 0;
  left: 20%;
  position: absolute;
}
.component_card_wrapper {
  width: 100%;
  position: relative;
}
.component_card_description {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.component_card_hexagon {
  width: 40%;
  max-width: 40%;
  height: 33%;
  position: relative;
}
.component_card_hexagon_greyLayer {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 80%;
  z-index: -2;
}
.component_card_hexagon_headpieces {
  position: absolute;
  width: 18%;
  height: auto;
  z-index: -1;
  margin-top: 15%;
  margin-left: 40%;
}
.component_card_hexagon_body {
  position: absolute;
  width: 31%;
  height: auto;
  z-index: -1;
  margin-top: 18%;
  margin-left: 35%;
}
.component_card_hexagon_claws {
  position: absolute;
  width: 77%;
  height: auto;
  z-index: -1;
  margin-top: 16%;
  margin-left: 32%;
}
.component_card_hexagon_legs {
  position: absolute;
  width: 70%;
  height: auto;
  z-index: -1;
  margin-top: 16%;
  margin-left: 38%;
}
.component_card_hexagon_shell {
  position: absolute;
  width: 38%;
  height: auto;
  z-index: -1;
  margin-top: 24%;
  margin-left: 33%;
}
.component_card_hexagon_background {
  position: absolute;
  width: 70%;
  height: auto;
  z-index: -1;
  margin-top: 7%;
  margin-left: 12%;
}
.component_card_name {
  width: 70%;
  line-height: 1.75rem;
  font-size: 0.8em;
  text-align: center;
  overflow-wrap: break-word !important;
}
.component_card_label {
  width: 75%;
  position: relative;
}
.component_card_label_text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.component_card_label_legend {
  color: #D1873A;
}
.component_card_label_rare {
  color: #E06655;
}
.component_card_label_magic {
  color: #7967DE;
}
.component_card_label_normal {
  color: #2483B2;
}
.component_card_label_nothing {
  color: #607E82;
}/*# sourceMappingURL=imageviewer.module.css.map */