@use "../mixins" as m;

.container{
    width:508px;
    height: 500px;
    position: relative;
    display:flex;
    flex-direction: column;
}

.toggleModal {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 12%;
    height: auto;
}

.modal{
    &_container{
        width: 80%;
        height: 95%;
        display:flex;
        flex-direction: column;
        background: url("/img/imageviewer/Others/OpenSea Invetory_framex2_04.png") no-repeat;
        background-size: 100% 100%;
        border-radius: 0.5rem;
        z-index: 3;
    }

    &_overlay{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
        pointer-events: auto;
    }
}

.component {
	&_zone {
        pointer-events: auto;
        height: 80%; 
        margin: 18% 11% 15% 11%;
        overflow:hidden;
        z-index: 2;
        position: relative;
    }

    &_list {
        height: 100%; 
        @include m.flex-master(column, space-between, null);

        &_item {
            // min-height:60px;
            @include m.flex-master(row, null, null);
 
            &_icon {
                width: min(10vw, 50px);
                @include m.flex-master(row, null, center);

                // &_img{
                //     width: min(10vw, 45px);
                //     height: auto;
                // }
            }

            &_description {
                @include m.flex-master(row, null, center);
                flex: 1;
                margin-left: 2%;
                font-size: 2.5rem;

                > span {
                    line-height: 1.7rem;
                    margin-left:5%;
                }

                &_normal {
                    color: #A5EBE3;
                }   
                &_magic {
                    color: #BDB9FB;
                }
                &_rare {
                    color: #FFC8B3;
                } 
                &_legend {
                    color: #FACD66;
                } 
            }
        }
    }

    &_card {
        height:100%;
        width: 80%;
        top:0;
        left:20%;
        position: absolute;

        &_wrapper {
            width: 100%;
            position: relative;
        }
        &_description {
            position: absolute;
            top: 0;
            // @include m.flex-master(column, space-evenly, center);
            // height:100%;
             
            width: 100%; 
            height: 100%; 
            padding: 10% 0;
            @include m.flex-master(column, space-evenly, center);
        }

        &_hexagon {
            // flex:3;
            width: 40%;
            max-width: 40%;
            height: 33%;
            position: relative;
            // @include m.flex-master(row, center, center);
            // z-index: 1;
            &_greyLayer {
                position: absolute;
                top:5%;
                left:5%;
                width: 80%;
                z-index: -2;
            }
            &_headpieces {
                position: absolute;
                width: 18%;
                height: auto;
                z-index: -1;
                margin-top: 15%;
                margin-left:40%;
            }
            &_body {
                position: absolute;
                width: 31%;
                height: auto;
                z-index: -1;
                margin-top: 18%; 
                margin-left: 35%;
            }
            &_claws {
                position: absolute;
                width: 77%;
                height: auto;
                z-index: -1;
                margin-top: 16%; // -14
                margin-left: 32%; // 20
            }
            &_legs {
                position: absolute;
                width: 70%;
                height: auto;
                z-index: -1;
                margin-top: 16%; // -14
                margin-left: 38%; // 20
            }
            &_shell {
                position: absolute;
                width: 38%;
                height: auto;
                z-index: -1;
                margin-top: 24%; // -14
                margin-left: 33%; // 20
            }
            &_background {
                position: absolute;
                width: 70%;
                height: auto;
                z-index: -1;
                margin-top: 7%; // -14
                margin-left: 12%; // 20
            }
        }

        &_name {
            width: 70%;
            line-height: 1.75rem;
            font-size: 0.8em;
            text-align: center;
            overflow-wrap: break-word!important;
        }

        &_attributes {
           
        }

        &_label {
            width: 75%;
            position: relative;
            
            &_text {
                @include m.flex-master(row, center, center);
                position: absolute;
                top:0;
                height:100%;
                width: 100%;
            }
            &_legend {
                color: #D1873A;
            }
            &_rare {
                color: #E06655;
            }
            &_magic {
                color: #7967DE;
            }
            &_normal {
                color: #2483B2;
            }
            &_nothing {
                color:#607E82;
            }
        }  
    }
}